1. Python IDLE (3.8+) with TELEPOT MODULE (v 12.0+)
2. TELEGRAM A/C

-- THE ABOVE requirements are based on LOCAL HOST Server programming! -----------------




***** Python-telepot 12.7 SETUP *****

$ pip install telepot
